/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background: cornflowerblue;
    font-family: Arial, sans-serif;
    color: white;
    display: block;
}

/* Navigation Styles */
nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-top: 10px; /* Adjust this value to move the navbar up */
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 1000px; /* Adjust the max-width as needed */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Page Content Styles */
#app {
    padding-top: 60px; /* Adjust this value if necessary */
    text-align: center;
}

h1 {
    color: #4b3192;
    margin: 20px 0;
}

p {
    color: white;
}

h2 {
    color: white;
    margin: 20px 0;
}

/* Table Styles */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    color: #4b3192;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 2px solid #4b3192;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4b3192;
    color: white;
}

/* Filter Styles */
.filter {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #4b3192;
    color: white;
    border: 2px solid #4b3192;
    border-radius: 4px;
    font-size: 16px;
}

.filter option {
    background-color: white;
    color: #4b3192;
}
