<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">
    <navbar></navbar>
    <div class="content">
        <h2>Funding Page</h2>

        <!-- Filters -->
        <div>
            <input type="text" id="lastname-search" class="filter" placeholder="Search Last Names">
            <select id="lastname-filter" class="filter">
                <option value="all">All Last Names</option>
            </select>
            
            <input type="text" id="organization-search" class="filter" placeholder="Search organization">
            <select id="fundingOrganization-filter" class="filter">
                <option value="all">All Funding Organizations</option>
            </select>
            
            <input type="text" id="program-search" class="filter" placeholder="Search program">
            <select id="programName-filter" class="filter">
                <option value="all">All Program Names</option>
            </select>

            <select id="totalFunding-filter" class="filter">
                <option value="all">All Funding Amounts</option>
            </select>
            
            <input type="text" id="currency-search" class="filter" placeholder="Search currency">
            <select id="currency-filter" class="filter">
                <option value="all">All Currencies</option>
            </select>

            <select id="designation-filter" class="filter">
                <option value="all">All Designations</option>
            </select>
            
            <input type="text" id="firstname-search" class="filter" placeholder="Search firstname">
            <select id="firstname-filter" class="filter">
                <option value="all">All First Names</option>
            </select>
            
            <input type="text" id="otherFundingOrganization-search" class="filter" placeholder="Search Other Organization">
            <select id="otherFundingOrganization-filter" class="filter">
                <option value="all">All Other Funding Organizations</option>
            </select>

            <select id="competitive-filter" class="filter">
                <option value="all">All Competitions</option>
            </select>

            <select id="startDate-filter" class="filter">
                <option value="all">All Start Dates</option>
            </select>

            <select id="endDate-filter" class="filter">
                <option value="all">All End Dates</option>
            </select>

            <select id="associate-filter" class="filter">
                <option value="all">All Associates</option>
                
            </select>

            <select id="department-filter" class="filter">
                <option value="all">All Departments</option>
                
            </select>

            <select id="title-filter" class="filter">
                <option value="all">All Titles</option>
                
            </select>

            <select id="role-filter" class="filter">
                <option value="all">All Roles</option>

            </select>
        </div>

        <!-- Empty Table -->
        <table id="funding-table">
            <tr>
                <th>Last Name</th>
                <th>Funding Organization</th>
                <th>Program Name</th>
                <th>Total Funding</th>
                <th>Currency</th>
                <th>Researcher Designation</th>
                <th>First Name</th>
                <th>Other Funding Organizations</th>
                <th>Competitive</th>
                <th>Funding Start Date</th>
                <th>Funding End Date</th>
                <th>Associate</th>
                <th>Department</th>
                <th>Title</th>
                <th>Funding Role</th>
            </tr>
            {% for row in data %}
            <tr>
            <td>{{ row['Last Name'] }}</td>
            <td>{{ row['Funding Organization'] }}</td>
            <td>{{ row['Program Name'] }}</td>
            <td>{{ row['Total Funding'] }}</td>
            <td>{{ row['Currency'] }}</td>
            <td>{{ row['Researcher Designation'] }}</td>
            <td>{{ row['First Name'] }}</td>
            <td>{{ row['Other Funding Organizations'] }}</td>
            <td>{{ row['Competitive'] }}</td>
            <td>{{ row['Funding Start Date'] }}</td>
            <td>{{ row['Funding End Date'] }}</td>
            <td>{{ row['Associate'] }}</td>
            <td>{{ row['Department'] }}</td>
            <td>{{ row['Title'] }}</td>
            <td>{{ row['Funding Role'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<template id="navbar-template">
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('contribution') }}">Contribution</a></li>
            <li><a href="{{ url_for('investigator') }}">Investigator</a></li>
            <li><a href="{{ url_for('mentor') }}">Mentor</a></li>
            <li><a href="{{ url_for('studyCategory') }}">Study Category</a></li>
            <li><a href="{{ url_for('supervision') }}">Supervision</a></li>
            <li><a href="{{ url_for('funding') }}">Funding</a></li>
            <li><a href="{{ url_for('publication') }}">Publication</a></li>
            <li><a href="{{ url_for('study') }}">Study</a></li>
        </ul>
    </nav>
</template>

<script>
window.onload = () => {
    Vue.component('navbar', {
        template: '#navbar-template'
    });

    new Vue({
        el: '#app'
    });
    
    fetch('/get_funds_filters')
        .then(response => response.json())
        .then(data => {
            let lastnameFilter = document.getElementById('lastname-filter');
            let firstnameFilter = document.getElementById('firstname-filter');
            let programFilter = document.getElementById('programName-filter');
            let otherOrganizationFilter = document.getElementById('otherFundingOrganization-filter');
            let organizationFilter = document.getElementById('fundingOrganization-filter');
            let currencyFilter = document.getElementById('currency-filter');
            
            data.lastnames.forEach(lastname => {
                let option = document.createElement('option');
                option.value = lastname;
                option.textContent = lastname;
                lastnameFilter.appendChild(option);
            });

            data.firstnames.forEach(firstname => {
                let option = document.createElement('option');
                option.value = firstname;
                option.textContent = firstname;
                firstnameFilter.appendChild(option);
            });
            data.organizations.forEach(organization => {
                let option = document.createElement('option');
                option.value = organization;
                option.textContent = organization;
                organizationFilter.appendChild(option);
            });
            data.programs.forEach(program => {
                let option = document.createElement('option');
                option.value = program;
                option.textContent = program;
                programFilter.appendChild(option);
            });
            data.currencies.forEach(currency => {
                let option = document.createElement('option');
                option.value = currency;
                option.textContent = currency;
                currencyFilter.appendChild(option);
            });
            data.other_organizations.forEach(other_organization => {
                let option = document.createElement('option');
                option.value = other_organization;
                option.textContent = other_organization;
                otherOrganizationFilter.appendChild(option);
            });
        });
    document.getElementById('lastname-search').addEventListener('input', function() {
    console.log('Lastname search input event triggered'); // Debugging line
    searchOptions('lastname-search', 'lastname-filter');
    });

    document.getElementById('firstname-search').addEventListener('input', function() {
    console.log('Firstname search input event triggered'); // Debugging line
    searchOptions('firstname-search', 'firstname-filter');
    });


   

    document.getElementById('lastname-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('fundingOrganization-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('programName-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('totalFunding-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('currency-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('designation-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('firstname-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('otherFundingOrganization-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('competitive-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('startDate-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('endDate-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('associate-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('department-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('title-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    document.getElementById('role-filter').addEventListener('change', function() {
        filterTable('lastname-filter', 'fundingOrganization-filter', 'programName-filter', 'totalFunding-filter', 'currency-filter', 'designation-filter', 'firstname-filter', 'otherFundingOrganization-filter', 'competitive-filter', 'startDate-filter', 'endDate-filter', 'associate-filter', 'department-filter', 'title-filter', 'role-filter', 'funding-table');
    });
    
    function searchOptions(searchId, filterId) {
    let searchValue = document.getElementById(searchId).value.toLowerCase();
    let options = document.getElementById(filterId).options;

    for (let i = 1; i < options.length; i++) {
        let optionText = options[i].textContent.toLowerCase();

        options[i].style.display = optionText.includes(searchValue) ? '' : 'none';
    }
}



    function filterTable(...filterIds) {
        let tableId = filterIds.pop();
        let filters = filterIds.map(id => document.getElementById(id).value.toLowerCase());

        let rows = document.querySelectorAll(`#${tableId} tr:not(:first-child)`);

        rows.forEach(row => {
            let cells = Array.from(row.cells).map(cell => cell.textContent.toLowerCase());
            let show = filters.every((filter, i) => filter === 'all' || cells[i] === filter);
            row.style.display = show ? '' : 'none';
        });
    }
}
</script>

</body>
</html>
