<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demopage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="{{ url_for('static', filename='js/script2.js') }}"></script>
</head>

<body>

    <template id="select-list">
        <div class="select-list-wrap" :class="{ 'show-select' : showSelect }" @click="showSelectList">
            <div class="select-list-select-item">
                <span>{% raw %}{{ selectItem }}{% endraw %}</span>
                <svg class="icon" viewBox="0 0 1024 1024" width="20" height="20">
                    <path d="M579.043 792.408l418.544-418.641c25.83-25.827 33.48-64.34 19.53-98.087-13.95-33.655-46.79-55.52-83.14-55.52L96.8 220.16c-36.352 0-69.205 21.955-83.147 55.52-4.59 11.157-6.842 22.86-6.842 34.47 0 23.395 9.177 46.43 26.365 63.62l418.641 418.639c16.912 16.91 39.772 26.365 63.622 26.365 23.84 0 46.795-9.535 63.62-26.365L579.043 792.409z" fill="#ffffff"></path>
                </svg>
            </div>
            <div class="select-list-content" ref="selectListContent" @click.stop="hideSelectList">
                <ul>
                    <li v-for="item in list" @click="select(item)">{% raw %}{{ item }}{% endraw %}</li>
                </ul>
            </div>
        </div>
    </template>

    <div id="app">
        <form action="/submit" method="POST">
            <select-list :list="list" @select="select"></select-list>
            <input type="hidden" name="selectedItem" id="selectedItem">
            <button type="submit">Continue</button>
        </form>
    </div>

</body>

</html>
